
body {
    padding-top: 2em;
    font-family: 'Lucida Sans', 'Trebuchet MS', Arial, sans-serif;
}
.container {
    background-color: #ddd;
    margin-top: 2em;
    margin: auto;  /* center the div */
    width: 750px;
    height: 450px;
    box-shadow: .5em .5em .5em #000;
    border-radius: 2em;
}
.gameTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px #fff;
    margin-bottom: 20px;
}
#pressStart, #startText {
    padding: 40px 0 20px 0;
}
.mainSection {
    width: 100%;
    height: 250px;
}
.questionLabel, .congratsLabel, .answerResponseLabel {
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
}
.choicesSection {
    margin-top: .5em;
}
.choiceBorder {
    border-radius: .6em;
    border-width: .1em;
    border-color: #ccc;
    border-style: solid;
    width: 75%;
    margin: auto;
    margin-bottom: .1em;
}
.choice, .correctAnswerLabel, .finalResultsLabel {
    border-radius: .2em;
    font-size: 2em;
    text-align: center;
}
.choiceBorder:hover {
    visibility: visible;
    background-color: #aaa;
    box-shadow: .1em .1em .1em #aaa;
}
.mouseDown {
    border-top-color: #777;
    border-left-color: #777;
    border-bottom-color: #eee;
    border-right-color: #eee;
}
.timeRemainingLabel, .correctAnswerIsLabel {
    margin: 1em 0 1em 0;
    font-size: 1em;
    text-align: center;
}
.timeProgress {
    background-color: #eee;
    width: 75%;
    margin: auto; /* to center it */
    border: .2em;
    border-radius: .2em;
    border-style: solid;
    border-top-color: #555;
    border-left-color: #555;
    border-bottom-color: #fff;
    border-right-color: #fff;
}
.timeProgressBar {
    background-color: #888;
    width: 99%;
    height: .3em;
    border: .2em;
    border-style: solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #555;
    border-right-color: #555;
}
#finalResult {
    padding: 40px 0 40px 0;
}
.makeInvisible {
    visibility: hidden;
}
.makeVisible {
    visibility: visible;
}


/* THEME RELEVANT CSS */
NOT_USED {
    /* Vintage Beach Theme */
    color: #2e5a0f;
    color: #34220c;
    color: #7b9ea4;
    color: #995b28;
    color: #e1c8b2;
}
body {
    background-color: #bbb;
}
.container {
    background-color: #e1c8b2;
    background-image: url("../images/beach-vintage-1.jpg");
    background-repeat: no-repeat;
}
.gameTitle {
    color: #2e5a0f;
}
.choiceBorder {
    border-color: #e1c8b2;
}
.choiceBorder:hover {
    background-color: #7b9ea4;
    box-shadow: .1em .1em .1em #aaa;
}
.timeProgress {    
    background-color: #e1c8b2;
}
.timeProgressBar {
    background-color: #7b9ea4;
}